.login-container {
    width: 300px;
    margin: 150px auto;
    padding: 66px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f6f3ac;
}

h1 {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 107%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
a {
    display: block;
    text-align: center;
    margin-top: 10px;
}